body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3{
    font-size: 20px;
}
p {
    font-size: 16px;
}
table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
}

th, td {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

figure img{
    width: 100%;
    margin: auto;
}

ul { list-style: none; padding-left: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-top: solid 1px #cdcdcd;
    border-bottom: solid 1px #cdcdcd;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 1rem;
}
footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}
th td, .borda-cabecalho{
    border-left: solid 5px #f2f2f2;
    padding-right: 0;
    
}

th td, .borda1{
    border-left: solid 5px #A9251E;
    padding-right: 0;
    
}
th td, .borda2{
    border-left: solid 5px #303791;
    padding-right: 0;
    
}
th td, .borda3{
    border-left: solid 5px #16584C;
    padding-right: 0;
    
}
th td, .borda4{
    border-left: solid 5px #1C4D6B;
    padding-right: 0;
    
}
th td, .borda5{
    border-left: solid 5px #000;
    padding-right: 0;
    
}
th td, .borda6{
    border-left: solid 5px #90281D;
    padding-right: 0;
    
}
th td, .borda7{
    border-left: solid 5px #BC8D42;
    padding-right: 0;
    
}
th td, .borda8{
    border-left: solid 5px #59482E;
    padding-right: 0;
    
}
th td, .borda9{
    border-left: solid 5px #1B5072;
    padding-right: 0;
    
}
th td, .borda10{
    border-left: solid 5px #F17618;
    padding-right: 0;
    
}
th td, .borda11{
    border-left: solid 5px #435751;
    padding-right: 0;
    
}
th td, .borda12{
    border-left: solid 5px #59312F;
    padding-right: 0;
    
}
th td, .borda13{
    border-left: solid 5px #55110d;
    padding-right: 0;
    
}
th td, .borda14{
    border-left: solid 5px #1B1F1A;
    padding-right: 0;
    
}
th td, .borda15{
    border-left: solid 5px #53110d;
    padding-right: 0;
    
}